[tool.poetry]
name = "sphinx-full-swaggerui"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
sphinx = "~=4.0"

[tool.poetry.dev-dependencies]
black = "==22.1.0"
isort = "==5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
add_imports = ["from __future__ import annotations"]
