
window.onload = () => {
  {% for spec in specs %}
  var options = {...{{spec.swagger_options}}};
  options.url = "{{ spec.url_path }}";
  options.dom_id = "#{{ spec.div_id }}";
  SwaggerUIBundle(options);
  {% endfor %}
}
